    <div class="card" >
      <div class="card-header leftsideheader p-10" >
        <div class="media">
          <div class="media-body">
            <b> Helping Fellow Entrepreneurs Will </b>
          </div>
        </div>
      </div>
      <div class="card-body mini-card-padding">
        <ul class="list-style-none  indent-me m-t-0">
          <li class="m-b-10">Raise awarness of your business.
          </li>
          <li class="m-b-10">Increase exposure of your requests to all fellow members.
          </li>
          <li class="m-b-10">Earn you a 'Team' with a wealth of connections and experience.
          </li>
          <li class="m-b-10">Promote your business as a 'Top Entrepreneur'.
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="footer-menu">
          <li>About</li>
          <li>Help</li>
          <li>Feedback</li>
          <li>Privacy & Terms</li>
        </ul>
      </div>
    </div>
    <div class="row m-t-10 ">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6 text-center">
          <img src="img/cape66.png" class="img-responsive">
        </div>
        <div class="col-md-6 copy-right-text no-margin-no-padding">
          Cape 66º © 2016
        </div>
      </div>
    </div>