<ul class="header-inner p-0 profile-register-header" id="header-login" data-ng-controller="loginCtrl as lgctrl">
   

    <li class="logo p-l-10 p-t-10">
        <a data-ui-sref="pages.wall" data-ng-click="mactrl.sidebarStat($event)"> <img class="logologin" src="img/cape66.png"/>
{{ layoutSS }}</a>
    </li>
   <!--  <li class="pull-right p-t-15 margin-rgiht-login ">
        <div class="row ">
        <input ng-model="email" class="m-r-15 " type="text" name="email" placeholder=" Email :" >
        <input ng-model="password" class="m-r-15 " type="password" name="Password :" placeholder=" Password :" >
         <button ng-click="authoniticateLogin()" id ="custo-padding-header" class="btn bgm-blue  "> Sign in</button>
        <span class="error"> {{notify}} </span>
        
        </div>
        <div class="row">
         <a class="m-r-15 header-customize-forgetlogin p-t-10" href="#"> Forgot login ?</a>
        </div>
    </li> -->

   
</ul>


<!-- Top Search Content -->

